<section class="section">
  <div class="container" id="about-me" >
    <h2 class="about-h">About <span class="me-span">me</span></h2>
    <div class="marginclass one">
      <img
        class="imgclass"
        srcset="
          /img/portrait-young-readhead-man-white-tshirt-holding-mobile-1x.jpg 1x,
          /img/portrait-young-readhead-man-white-tshirt-holding-mobile-1x.jpg 2x
        "
        src="/img/portrait-young-readhead-man-white-tshirt-holding-mobile-1x.jpg"
        alt="portrait-young-readhead-man-white-tshirt-holding-laptop"
        width="320"
      />
      <div class="row">
        <h3 class="htwoclass bio">Bio</h3>
        <p class="about-p">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="about-p two">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
      </div>
    </div>
    <div class="edurol">
      <div class="marginclass two">
        <h2 class="htwoclass">Education</h2>
        <ul class="">
          <li class="educ">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="educ">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="educ">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>
      <div class="marginclass two role">
        <h2 class="htwoclass">Role</h2>
        <ul>
          <li class="educ">Frontend development</li>
          <li class="educ">HeadlessCMS, Wordpress</li>
          <li class="educ">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
