<section class="section">
  <div class="container">
    <h2><span>Benefits</span> of working with me</h2>
    <ul>
      <li>
        <svg width="64" height="64">
          <use href="img/symbol-defs.svg#icon-men"></use>
        </svg>
        <h3>Expertise</h3>
        <p>
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li>
        <svg width="64" height="64">
          <use href="img/symbol-defs.svg#icon-mesage"></use>
        </svg>
        <h3>Communication</h3>
        <p>
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li>
        <svg width="64" height="64">
          <use href="img/symbol-defs.svg#icon-penzlik"></use>
        </svg>
        <h3>Art</h3>
        <p>
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li>
        <svg width="64" height="64">
          <use href="img/symbol-defs.svg#icon-favicon"></use>
        </svg>
        <h3>Urgent execution</h3>
        <p>
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
