<section class="section">
  <div class="container background-benefits">
    <h2 class="headline">
      <span class="green-span">Benefits</span> of<br />
      working with<br />
      me
    </h2>
    <ul class="benefits-block">
      <li>
        <svg width="48" height="48">
          <use href="img/symbol-defs.svg#icon-men"></use>
        </svg>
        <h3 class="title-under-benefits">Expertise</h3>
        <p class="text-benefits">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li>
        <svg width="48" height="48">
          <use href="img/symbol-defs.svg#icon-mesage"></use>
        </svg>
        <h3 class="title-under-benefits">Communication</h3>
        <p class="text-benefits">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li>
        <svg width="48" height="48">
          <use href="img/symbol-defs.svg#icon-penzlik"></use>
        </svg>
        <h3 class="title-under-benefits">Art</h3>
        <p class="text-benefits">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li>
        <svg width="48" height="48">
          <use href="img/symbol-defs.svg#icon-sand-clock"></use>
        </svg>
        <h3 class="title-under-benefits">Urgent execution</h3>
        <p class="text-benefits">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
