<section class="section">
  <div class="container">
    <h2 class="headline">
      Frequently Asked <span class="green-span">Questions</span>
    </h2>
    <ul class="accordion">
      <li class="accordion-item">
        <button id="accordion-button-1" type="button" aria-expanded="false">
          <span class="accordion-title"
            >What programming languages are most often used in your
            project?</span
          >

          <span class="icon" aria-hidden="true"></span>
          <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 15L12 9L6 15" stroke="#292929" stroke-width="2" stroke-linecap="round" />
          </svg>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 9L12 15L6 9" stroke="#292929" stroke-width="2" stroke-linecap="round" />
          </svg> -->
        </button>
        <div class="accordion-content" hidden>
          <p class="paragraph">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button
          class="btn"
          id="accordion-button-2"
          type="button"
          aria-expanded="false"
        >
          <span class="accordion-title"
            >What are the deadlines for the project?</span
          >

          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content" hidden>
          <p class="paragraph">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button id="accordion-button-3" type="button" aria-expanded="false">
          <span class="accordion-title"
            >What payment methods do you accept?</span
          >

          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content" hidden>
          <p class="paragraph">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion-title" id="accordion-button-4" type="button" aria-expanded="false">
          How can I contact you?
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content" hidden>
          <p class="paragraph">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion-title" id="accordion-button-5" type="button" aria-expanded="false">
          Do you provide advice or support?
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content" hidden>
          <p class="paragraph">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button id="accordion-button-6" type="button" aria-expanded="false">
          <span class="accordion-title"
            >What does the process of developing a software product look like
            from idea to implementation?</span
          >

          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content" hidden>
          <p class="paragraph">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
