<footer class="footer-section">
  <div class="container">
    <div class="footer-flex">
      <a href="./index.html" class="logo">LLOYD<span class="green-span">JEFFERSON.</span></a>
      <ul class="footer-list">
        <li class="footer-list-element">
          <a rel="noopener" target="_blank" href="https://www.instagram.com/goitclub/"
            >Instagram</a
          >
        </li>
        <li class="footer-list-element">
          <a rel="noopener" target="_blank" href="https://www.facebook.com/goITclub/"
            >Facebook</a
          >
        </li>
        <li class="footer-list-element">
          <a rel="noopener"
            target="_blank"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            >Linkedin</a
          >
        </li>
        <li class="footer-list-element">
          <a rel="noopener" target="_blank" href="https://github.com/AistraViter/f16"
            >Github</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-paragraph">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
