<header class="header for-test">
  <div class="container">
    <nav class="navigation">

      <span class="logo">Lloyd<span class="green-span">Jefferson.</span></span>

      <button type="button" id="menuIcon" class="menu-icon">
        <svg width="32" height="32" class="open-menu-svg">
          <use href="../img/symbol-defs.svg#icon-material-symbols-light_menu"></use>
        </svg>
      </button>
      

      <ul class="list menu" id="menu">
        <span class="logo mobile">Lloyd<span class="green-span">Jefferson.</span></span>
        <button type="button" id="closeIcon" class="close-menu">
          <img  src="../img/x (1).png" alt="Close">
        </button>
        <!-- <button type="button" id="closeIcon" class="close-menu">
          <svg width="32" height="32" class="open-menu-svg">
            <use href="../img/symbol-defs.svg#icon-x"></use>
          </svg>
        </button> -->
        <li class="link-nav"><a  href="./about_me.html">About me</a></li>
        <li class="link-nav"><a  href="./my_projects.html">Projects</a></li>
        <li class="link-nav"><a href="./work_together.html">Contacts</a></li>
      </ul>

    </nav>
  </div>
</header>