<section class="section hero">
  <div class="container backgroung-top-right">
    <h1>Hello, I am <span>Fullstack developer</span></h1>
    <button class="hero-btn">-> Order the project</button>
    <p class="hero-intro">
      I work with people all over the world to create
      <span>impressive</span> and <span>functional websites</span> that reflect
      each client’s unique personality.
    </p>
    <div class="hero-soc-media">
      <ul>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>Linkedin</li>
        <li>GitHub</li>
      </ul>
    </div>
  </div>
</section>
