<section class="section hero">
  <div class="container">
    <div class="web-version">
      <h1 class="headline">Hello, I am <span>Fullstack developer</span></h1>

      <div class="hero-image">
        <img src="/img/hero-portrait-web.png" alt="hero-portrait-web" />
      </div>
    </div>

    <div class="web-btn">
      <div class="hero-btn-container">
        <a href="#work-together-link" class="hero-btn">
          <svg
            class="btn-svg"
            style="margin-right: 12px"
            width="30"
            height="16"
            fill="none"
          >
            <use href="img/symbol-defs.svg#icon-arrow_right"></use>
          </svg>
          Order the project
        </a>
      </div>

      <p class="hero-intro">
        I work with people all over the world to create
        <span>impressive</span> and <span>functional websites</span> that
        reflect each client’s unique personality.
      </p>
    </div>

    <div class="hero-soc-media">
      <ul>
        <li>
          <a
            rel="noopener"
            target="_blank"
            href="https://www.instagram.com/goitclub/"
            >Instagram</a
          >
        </li>
        <li>
          <a
            rel="noopener"
            target="_blank"
            href="https://www.facebook.com/goITclub/"
            >Facebook</a
          >
        </li>
        <li>
          <a
            rel="noopener"
            target="_blank"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            rel="noopener"
            target="_blank"
            href="https://aistraviter.github.io/f16/#work-together-link"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
