<section class="section">
  <div class="container">
    <h2 class="headline text-center">REVIEWS</h2>
    <p class="empty-text is-hidden">No found</p>

    <div class="swiper mySwiper">
      <ul class="reviews-list swiper-wrapper"></ul>

      <div class="reviews-navigation">
        <button class="reviews-navigation-btn swiper-button-prev">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20 12H4.00001"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10 18L4 12L10 6"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button class="reviews-navigation-btn swiper-button-next">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 12H20"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14 6L20 12L14 18"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
