<section class="section">
  <h2 hidden>Tech skills</h2>
  <div class="container ">
    <div class="marquee">
      <div class="marquee__inner">
        <ul class="marquee__line">
          <li class="skills_item">HTML/CSS</li>
          <li class="skills_item">JavaScript</li>
          <li class="skills_item">React</li>
          <li class="skills_item">Node. js</li>
          <li class="skills_item">React Native</li>
          <li class="skills_item">Typescript</li>
        </ul>
        <ul class="marquee__line">
          <li class="skills_item">HTML/CSS</li>
          <li class="skills_item">JavaScript</li>
          <li class="skills_item">React</li>
          <li class="skills_item">Node. js</li>
          <li class="skills_item">React Native</li>
          <li class="skills_item">Typescript</li>
        </ul>
      </div>
    </div>
    <div class="marquee green">
      <div class="marquee__inner rotation">
        <ul class="marquee__line itemclass">
          <li class="skills_item color">HTML/CSS</li>
          <li class="skills_item color">JavaScript</li>
          <li class="skills_item color">React</li>
          <li class="skills_item color">Node. js</li>
          <li class="skills_item color">React Native</li>
          <li class="skills_item color">Typescript</li>
        </ul>
        <ul class="marquee__line itemclass">
          <li class="skills_item color">HTML/CSS</li>
          <li class="skills_item color">JavaScript</li>
          <li class="skills_item color">React</li>
          <li class="skills_item color">Node. js</li>
          <li class="skills_item color">React Native</li>
          <li class="skills_item color">Typescript</li>
        </ul>
      </div>
    </div>
  </div>
</section>
