<section class="section" id="work-together-link">
  <div class="container backgroung-worktogether" id="contacts">
    <h2 class="headline">
      Let's
      <span class="green-span"
        >work<br />
        together</span
      >
    </h2>
    <div class="wt-content-wrapper">
      <div class="wt-text-address-wrapper">
        <p class="worktogether-paragraph">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <address>
          <ul class="contacts-list">
            <li class="contacts-items">
              <svg class="address-icons" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-telefon"></use>
              </svg>
              <a class="contacts-link" href="tel:+380904567890"
                >+38 090 456 78 90</a
              >
            </li>
            <li class="contacts-items">
              <svg class="address-icons" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-konvert"></use>
              </svg>
              <a class="contacts-link" href="mailto:lloydjefferson@gmail.com"
                >lloydjefferson@gmail.com</a
              >
            </li>
            <li class="contacts-items">
              <svg class="address-icons" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-gps-marker"></use>
              </svg>
              <a
                target="_blank"
                class="contacts-link"
                href="https://www.google.com/maps/place/USA,+New+York"
                >USA, New York</a
              >
            </li>
          </ul>
        </address>
      </div>

      <form class="work-together-form" id="work-together-form">
        <div class="input-wrapper">
          <input
            class="user-email"
            id="user-email"
            name="email"
            placeholder="Your email*"
            required
          />
          <svg class="email-check-icon" width="16" height="16">
            <use href="img/symbol-defs.svg#icon-green-check-mark"></use>
          </svg>
        </div>
        <p id="email-error" style="color: #e74a3b; display: none">
          Invalid email, try again
        </p>
        <textarea
          class="user-message"
          id="user-message"
          name="message"
          placeholder="Message"
          required
        ></textarea>
        <button class="btn-message" id="sendButton" type="submit">
          Send Message
        </button>
      </form>
    </div>
  </div>
</section>
