/* .about-section {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
} */

.imgclass {
  border-radius: 21px;
  margin-bottom: 40px;
}

.marginclass {
  margin-bottom: 40px;
}

.htwoclass {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.about-p {
  font-weight: 300;
  font-size: 16px;
  text-align: left;
}

.two {
  margin-top: 24px;
  margin-bottom: 40px;
}

.educ {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 12px;
}

.educ::before {
  content: '•'; /* Устанавливаем контент точки */
  color: #00b068; /* Устанавливаем цвет точки */
  display: inline-block; /* Делаем точку блочным элементом */
  width: 4px; /* Устанавливаем ширину точки */
  text-align: center; /* Выравниваем текст по центру */
  margin-right: 5px; /* Отступ справа от точки */
}

/* *******************MOBILE******************* */
/* @media screen and (min-width: 360px) {
  @media screen and (min-width: 360px) {
    .hero-h {
    }

    .hero-p {
    }
  }
} */

/* *****************TABLET********************* */

@media screen and (min-width: 768px) {
  .backgroung-about {
    position: relative;
  }
  .square-background {
    position: absolute; /* Устанавливаем позицию абсолютно */
    width: 384px;
    height: 288px;
    background-image: url(../img/decor-about-tablet.png); /* Путь к вашей фоновой картинке размером 300x300 */
    background-size: cover; /* Растягиваем изображение на всю площадь контейнера */
    top: 856px; /* Располагаем квадрат от верхнего края на 100px */
    left: 400px;
  }

  .imgclass {
    height: 392px;
    margin-top: 408px;
    width: 336px;
    height: 392px;
  }

  .one {
    display: flex;
    gap: 32px;
  }

  .row {
    margin-bottom: 60px;
  }

  .two {
    width: 336px;
  }

  .edurol {
    display: flex;
    gap: 32px;
  }

  .htwoclass {
    line-height: 48px;
  }

  .about-h {
    font-size: 108px;
    line-height: 124px;
  }

  .about-p {
    width: 336px;
  }


}

/* ****************DESKTOP****************** */

@media screen and (min-width: 1280px) {
  .backgroung-about {
    position: relative;
  }
  .square-background {
    position: absolute; /* Устанавливаем позицию абсолютно */
    width: 450px;
    height: 350px;
    background-image: url(../img/decor-about.png); /* Путь к вашей фоновой картинке размером 300x300 */
    background-size: cover; /* Растягиваем изображение на всю площадь контейнера */
    top: 692px; /* Располагаем квадрат от верхнего края на 100px */
    left: 800px;
  }

  .imgclass {
    margin-top: 312px;
    margin-left: 208px;
    width: 384px;
    height: 448px;
    margin-right: 0;
  }
  .edurol {
    margin-left: 208px;
  }
  .htwoclass {
    line-height: 48px;
  }

  .about-h {
    font-size: 108px;
    line-height: 124px;
  }
  .row {
    margin-left: auto;
  }
  .about-p {
    width: 488px;
  }
  .role {
    margin-left: 136px;
  }
}
/* @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          360deg,
          #11131f 15.05%,
          rgba(17, 19, 31, 0.39) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url(../img/img-hero/yacht-bg-desktop-2x.jpg);
    }
  }
} */

/*#region media*/
/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .menu-item {
    display: flex;
    gap: 4px;
  }
  .contacts-menu {
    display: flex;
  }

  .menu-open-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .logo {
    font-size: 20px;
    line-height: 1.21;
  }
  .linkssocial {
    display: flex;
  }
  .menu {
    padding: 4px 28px;
  }
  .page-header {
    width: 704px;
    top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
  .menu-item {
    display: flex;
    gap: 4px;
  }
  .contacts-menu {
    display: flex;
  }

  .menu-open-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .logo {
    font-size: 20px;
    line-height: 1.21;
  }
  .linkssocial {
    display: flex;
  }
  .menu {
    padding: 4px 28px;
  }
  .page-header {
    width: 1080px;
    top: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
  .menu-item {
    display: flex;
    gap: 4px;
  }
  .contacts-menu {
    display: flex;
  }

  .menu-open-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .logo {
    font-size: 20px;
    line-height: 1.21;
  }
  .linkssocial {
    display: flex;
  }
  .menu {
    padding: 4px 28px;
  }
  .page-header {
    width: 1080px;
    top: 32px;
  }
} */

/*#endregion*/
