.imgclass {
  border-radius: 21px;
  margin-bottom: 40px;
}

.marginclass {
  margin-bottom: 40px;
}

.marginclass:last-child {
  margin-bottom: 0;
}


.htwoclass {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.about-p {
  font-weight: 300;
  font-size: 16px;
  text-align: left;
}

.two {
  margin-top: 24px;
  margin-bottom: 40px;
}

.educ {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 12px;
}


.educ::before {
  content: '•'; /* Устанавливаем контент точки */
  color: #00b068; /* Устанавливаем цвет точки */
  display: inline-block; /* Делаем точку блочным элементом */
  width: 4px; /* Устанавливаем ширину точки */
  text-align: center; /* Выравниваем текст по центру */
  margin-right: 5px; /* Отступ справа от точки */
}


/* *******************MOBILE******************* */
/* @media screen and (min-width: 360px) {
  @media screen and (min-width: 360px) {
    .hero-h {
    }

    .hero-p {
    }
  }
} */

/* *****************TABLET********************* */

@media screen and (min-width: 768px) {
  .backgroung-about {
    position: relative;
  }
  .square-background {
    position: absolute; /* Устанавливаем позицию абсолютно */
    width: 384px;
    height: 288px;
    background-image: url(../img/decor-about-tablet.png); /* Путь к вашей фоновой картинке размером 300x300 */
    background-size: cover; /* Растягиваем изображение на всю площадь контейнера */
    top: 856px; /* Располагаем квадрат от верхнего края на 100px */
    left: 400px;
  }
  .marginclass {
    margin-bottom: 0px;
  }
  
  
  .imgclass {
    height: 392px;
    margin-top: 408px;
    width: 336px;
    height: 392px;
  }

  .one {
    display: flex;
    gap: 32px;
  }

  /* .row {
    margin-bottom: 60px;
  } */

  .two {
    width: 336px;
  }

  .edurol {
    display: flex;
    gap: 32px;
  }

  .htwoclass {
    line-height: 48px;
  }

  .about-h {
    font-size: 108px;
    line-height: 124px;
  }

  .about-p {
    width: 336px;
  }
  .educ {
    margin-bottom: 16px;
  }
  .educ:last-child {
    margin-bottom: 0; /* убираем нижний отступ */
  }
}

/* ****************DESKTOP****************** */

@media screen and (min-width: 1280px) {
  .backgroung-about {
    position: relative;
  }
  .square-background {
    position: absolute; /* Устанавливаем позицию абсолютно */
    width: 450px;
    height: 350px;
    background-image: url(../img/decor-about.png); /* Путь к вашей фоновой картинке размером 300x300 */
    background-size: cover; /* Растягиваем изображение на всю площадь контейнера */
    top: 692px; /* Располагаем квадрат от верхнего края на 100px */
    left: 800px;
  }

  .imgclass {
    margin-top: 312px;
    margin-left: 208px;
    width: 384px;
    height: 448px;
    /* margin-right: 0; */
  }
  .edurol {
    margin-left: 208px;
  }
  .htwoclass {
    line-height: 48px;
  }

  .about-h {
    font-size: 108px;
    line-height: 124px;
  }
  .row {
    margin-left: auto;
  }
  .about-p {
    width: 488px;
  }
  .role {
    margin-left: 136px;
  }
  .educ {
    margin-bottom: 16px;
  }
  .educ:last-child {
    margin-bottom: 0; /* убираем нижний отступ */
  }
}
