footer {
  padding-bottom: 24px;
}

.footer-list {
  gap: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 30px;
}
.footer-list-element {
  width: 87px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-element:hover {
  color: #00b068;
}

.footer-paragraph {
  text-align: center;
  margin: 0 auto;
  width: 197px;
}

/* *****************TABLET********************* */

@media screen and (min-width: 768px) {
  .footer-list {
    gap: 24px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .footer-paragraph {
    text-align: end;
    margin-right: 0;
    width: unset;
  }
}

/* ****************DESKTOP****************** */

@media screen and (min-width: 1260px) {
  .footer-flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .footer-list {
    padding: 0;
    text-align: right;
  }
  .footer-list-element:last-child {
    margin-right: 0;
  }
}
