.my-project-list li {
  display: none;
}

.my-project-list li:nth-child(-n + 3) {
  display: block;
}

.my-project-list-item {
  margin-bottom: 40px;
}

.my-project-img {
  border: none;
  border-radius: 16px;
  width: 100%;
  margin-bottom: 12px;
}

.my-project-technologies {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
}

.my-project-name {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.my-project-link {
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  background-color: #ccc;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  width: 125px;
  text-align: right;
}

.my-project-link:hover {
  background-color: #bbb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-project-link-block {
  display: flex;
  justify-content: flex-end;
}

.vector-icon {
  margin-left: 12px;
}
.load-more-btn-block {
  text-align: center;
}

.load-more-btn {
  padding: 0px;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #00b068;
  color: #292929;
  background-color: transparent;
}

.load-more-btn:hover {
  color: #00b068;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стилі для темної теми */

body.dark-theme .my-project-link {
  background-color: #2a2d32;
}

body.dark-theme .my-project-link:hover {
  background-color: #3b3f45;
}

body.dark-theme .load-more-btn {
  color: #f0f0f0;
}

body.dark-theme .load-more-btn:hover {
  color: #00b068;
}

/* Tablet version */

@media (min-width: 768px) {
  .my-project-list-item {
    margin-bottom: 60px;
  }

  .my-project-img {
    margin-bottom: 16px;
  }

  .my-project-technologies {
    margin-bottom: 20px;
  }

  .my-project-name {
    font-size: 36px;
    margin-bottom: 0px;
    max-width: 80%;
  }

  .my-project-link-name-block {
    display: flex;
    justify-content: space-between;
  }

  .load-more-btn {
    font-size: 20px;
  }
}

/* Desktop version */

@media (min-width: 1260px) {
  .my-project-list-item {
    margin-bottom: 80px;
  }
}
