/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font-family: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f0;

  font-family: 'Poppins', 'Inter', sans-serif;
  color: #292929;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 768px) {
  body {
    
  }
}

/* для тестування, чи ніхто не вийшов за границі секцій
.container {
  border: 2px solid red;
}
.section {
  border: 2px solid blue;
  background-color: aqua; 
}
*/

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin-bottom: 80px;
}
.logo{
  font-family: Impact, 'Anton', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.green-span {
  color: #00b068;
}

.headline {
  font-family: Impact, 'Anton', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .section {
    margin-bottom: 124px;
  }
  .headline {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1260px;
  }
  .section {
    margin-bottom: 164px;
  }
  .headline {
    margin-bottom: 80px;
  }
}
