/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font-family: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: 'Poppins', 'Inter', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.light-theme{
  background-color: #f0f0f0;
  color: #292929;
}

body.dark-theme{
  background-color: #292929;
  color: #f0f0f0;
}



/* для тестування, чи ніхто не вийшов за границі секцій
.container {
  border: 2px solid red;
}
.header-section,
.footer-section,
.section {
  border: 2px solid blue;
}
*/

/*CONTAINER & SECTION*/
.container {
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 20px;
}

.backgroung-hero {
  min-width: 320px;
  position: relative;
}

.backgroung-hero::before {
  width: 320px;
  height: 704px;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('/img/decor-mobile-hero.png');
  background-repeat: no-repeat;
  z-index: -1; /* Розміщує псевдоелемент позаду контенту */
}

.section {
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .backgroung-hero {
    min-width: 600px;
  }

  .backgroung-hero::before {
    width: 704px;
    height: 896px;
    background-image: url('/img/decor-tablet-hero.png');
    z-index: 2; /* Розміщує псевдоелемент поверху контенту */
  }

  .backgroung-worktogether {
    min-width: 366px;
    position: relative;
  }

  .backgroung-worktogether::before {
    width: 366px;
    height: 260px;
    content: '';
    position: absolute;
    top: -104px; /* Виступання на 100px вверх */
    right: 0;
    background-image: url('/img/decore-tablet-worktogether.png');
    background-repeat: no-repeat;
    z-index: -1; /* Розміщує псевдоелемент позаду контенту */
  }

  .section {
    padding-bottom: 124px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .backgroung-hero{
    min-width: 1100px;

  }

  .backgroung-hero::before {
    width: 1216px;
    height: 772px;
    background-image: url('/img/decor-big-hero.png');
  }

  .backgroung-worktogether::before {
    top: -144px;
  }

  .section {
    padding-bottom: 164px;
  }
}

/*LOGO & HEADLINE*/

.logo {
  font-family: Impact, 'Anton', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.green-span {
  color: #00b068;
}

.headline {
  font-family: Impact, 'Anton', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .headline {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
}

@media (min-width: 1260px) {
  .headline {
    margin-bottom: 80px;
  }
}
