
.marquee {
  height: 128px;
  overflow: hidden;
  text-transform: uppercase;
    position: relative; /* Добавляем позиционирование для псевдоэлемента */

}
.marquee::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: #bcdfd1;
  z-index: -1; /* Устанавливаем нижний слой */
  transform: skewY(1deg); /* Применяем наклон к фону */
}


.marquee__inner {
  display: flex;
  transform: skewY(1deg); /* Применяем наклон к родительскому элементу */
}

.marquee__line {
  display: flex;

  flex-shrink: 0;
  margin: 0;
  padding: 10px 15px;
  min-width: auto;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 10s;
  animation-timing-function: linear; 
  animation-iteration-count: infinite;
  transform: skewY(1deg); /* Применяем обратный наклон к дочерним элементам */
}
.temclass{
  transform: skewY(2deg); /* Применяем обратный наклон к дочерним элементам */

}
.rotation{
  transform: skewY(2deg); /* Применяем наклон к родительскому элементу */

}
.green::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: #E4E5E6;
  z-index: -1; /* Устанавливаем нижний слой */
  transform: skewY(2deg); /* Применяем наклон к фону */
}
.skills_item {
  padding-top: 40px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #292929;
  letter-spacing: 0.03em;
  margin-right: 16px;
}
.color {
  color: #00b068;
}

.skills_item::before {
  content: '•'; /* Устанавливаем контент точки */
  color: #00b068; /* Устанавливаем цвет точки */
  display: inline-block; /* Делаем точку блочным элементом */
  width: 4px; /* Устанавливаем ширину точки */
  text-align: center; /* Выравниваем текст по центру */
  /* margin-left: 16px; */
  margin-right: 32px; /* Отступ справа от точки */
}
.color::before {
  content: '•'; /* Устанавливаем контент точки */

  color: #292929;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
