.worktogether-paragraph {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.contacts-items{
  display: flex;
  align-items: center;
}

.address-icons {
  margin-right: 16px;
}

.contacts-link {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}

.contacts-link:hover {
  color: #00b068;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FORM */

.work-together-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.user-email,
.user-message {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(41, 41, 41, 0.4);
  border-radius: 8px;
  padding: 16px;
  background: #e4e5e6;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.user-email:focus,
.user-message:focus {
  color: #292929;
}

.user-email.invalid {
  color: #e74a3b;
}

.email-check-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.user-email.valid~.email-check-icon {
  display: block;
}

.user-message {
  height: 128px;
}

.btn-message {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f0f0f0;
  border-radius: 8px;
  padding: 12px 24px;
  height: 48px;
  background: #00b068;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 32px;
  transition: background-color 0.3s ease;
}

.btn-message:hover {
  background: #009156;
}

/* TABLET */

@media (min-width: 768px) {
  .worktogether-paragraph {
    font-size: 20px;
    width: 488px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 19px;
  }

  .btn-message {
    width: 173px;
  }
  }
/* TABLET END */

/* COMP */
@media (min-width: 1260px) {
  .worktogether-paragraph{
    margin-bottom: 0;
  }
  .wt-content-wrapper{
      display: flex;
      flex-direction: row;
    }
  
  .wt-text-address-wrapper {
      display: flex;
      flex-direction: column;
      gap: 120px;
      margin-right: 136px;
    }

  .contacts-list {
      flex-direction: column;
      gap: 16px;
      margin-bottom: 0;
    }

    .work-together-form{
      width: 592px;
    }
}

/* COMP END */